#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pangolin
Comment=This session logs you into pangolin
Exec=/dahlia/pangolin/pangolin_desktop
TryExec=/dahlia/pangolin/pangolin_desktop
Icon=/dahlia/dahlia.ico
Type=Application
