#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pangolin
Comment=This session logs you into pangolin
Exec=/dahlia/run
TryExec=/dahlia/run
Icon=/dahlia/dahlia.ico
Type=Application
